;数据库dsn
dsn=sqlite:/tmp/pass.db

;用户最常用的密码，方便录入新帐号信息。
default_password=123456

;前端文件域名
static_host=http://localhost:8000/www

;用户常用的邮箱列表，方便录入新帐号信息。
[often_emails]
1=email1@gmail.com
2=email2@163.com

;使用用户的基本信息
[user]
email=email@gmail.com
