;数据库dsn
dsn=sqlite:/tmp/pass.db

;数据加密的秘钥。32位以内的字符串。
secret_key="abcd"

;用户最常用的密码，方便录入新帐号信息。
[default_password]
1=123456
2=abcderf

;用户常用的邮箱列表，方便录入新帐号信息。
[often_emails]
1=email1@gmail.com
2=email2@163.com
