;数据库dsn
dsn=sqlite:/tmp/pass.db

;用户最常用的密码，方便录入新帐号信息。
default_password=123456

;前端文件域名
static_host=http://localhost:8001/www

;用户常用的邮箱列表，方便录入新帐号信息。
[often_emails]
1=email1@gmail.com
2=email2@163.com

;运行访问的IP白名单
[allow_ip]
1=127.0.0.1

;使用用户的基本信息
[user]
email=liuxidong1984@gmail.com
