ip_check='on'

[allow_ip]
1=127.0.0.1

[db]
history=/Users/liuxd/pac_history_dev.db
master=/Users/liuxd/password_dev.db

[msg_default]
1="Table name must be string."
2="The table does not exist."
3="The does not exist."
4="It can not be empty."
5="The base infomation can not be modified."
6="Table name can not be empty."
7="Db file is not writable."
8="No db is available."
9="Connect Success."

[user]
email=example@test.com
