<footer>
    <div class="alert alert-info navbar-fixed-bottom">
        <?php echo '处理请求时间：', round(microtime(true) - $_SERVER['REQUEST_TIME_FLOAT'], 4);?>ms
    </div>
</footer>

<div id="pop_confirm"></div>
<script language="javascript" src="<?=$host?>/vendor/bootstrap/js/plugin/bootstrap-modal.js"></script>
<script language="javascript" src="<?=$host?>/vendor/bootstrap/js/plugin/bootstrap-confirm.js"></script>
<script language="javascript" src="<?=$host?>/vendor/bootstrap/js/plugin/bootstrap-dropdown.js"></script>
<script language="javascript" src="<?=$host?>/application/js/web.js"></script>
</body>
</html>
