<script language="javascript" src="<?=$host?>/vendor/jquery/plugins/jquery.jrumble.1.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?=$host?>/application/css/index.css" ></link>

<!-- Error -->
<?php if (isset($error)):?>
<div class="alert alert-error error"><?=$error;?></div>
<?php endif;?>

<!-- Head form -->
<div class="navbar-fixed-top" id="add_input">
    <form class="well form-inline" action="<?=$form_action_add?>" method="post" autocomplete="off" >
        <input type="text" class="input-large" placeholder="Website Name" name="name">
        <input type="text" class="input-large" placeholder="URL" name="url">
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>

<div class="navbar-fixed-top">
    <button type="button" class="btn btn-info btn-small" id="add_pull" >+</button>
</div>

<!-- Search area -->
<div class="container-fluid">
    <div class="row-fluid">
        <div id="search_area">

            <!-- logo -->
            <h1 class="form-signin-heading span5 offset4 cw" id="logo" title="<?=$site_total;?>" id="logo">
                <img src='<?=$host?>/application/img/web.png' width=90 height=90 id="icon">
                Open Sesame
            </h1>

            <!-- Search Button -->
            <div class="controls-row span9 offset3">
                <div class="form-wrapper cf">
                    <input type="text" name="site" id="search" autocomplete="off" placeholder="What would you like ?" />
                    <button id="search_bt">Try</button>
                </div>
            </div>

            <?php if (!empty($recomm)):?>
            <!-- Recommendation Information -->
            <h4 class="controls-row span9 offset3 cw" id="recommand">Something like...</h4>

            <div class="controls-row span8 offset3">
                <?php foreach($recomm as $key => $value):?>
                <div class="span2 recommand">
                    <a href="<?=$value['url'];?>" title="<?=$value['name'];?>" target="_blank"><?=$value['name'];?></a>
                </div>
                <?php endforeach;?>
            </div>
            <?php endif;?>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#icon').jrumble().hover(
            function() {
                $(this).trigger('startRumble');
            },
            function() {
                $(this).trigger('stopRumble');
            }
    );

    $('#search_bt').jrumble().hover(
            function() {
                $(this).trigger('startRumble');
            },
            function() {
                $(this).trigger('stopRumble');
            }
    );
</script>
