<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Amount of "<?=$keyword;?>" is : <?=$total;?></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <?php if (isset($error)):?>
    <div class="alert alert-error"><?=$error;?></div>
    <?php endif;?>

    <?php if ($total > 0):?>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="20%">ACCOUNT</th>
                <th width="20%">OPERATION</th>
                <th width="60%">URL</th>
            </tr>
        </thead>

        <tbody>
            <?php foreach ($site_list as $v):?>
            <tr>
                <th>
                    <a href="<?=$v['info_url'];?>"><?=$v['name'];?></a>
                </th>
                <td>
                    <a href="<?=$v['info_url'];?>" class="btn btn-primary bt" target="_blank">CHECK</a>
                    <button class="btn btn-danger list_del_bt bt" id="<?=$v['rowid'];?>">DELETE</button>
                </td>
                <td>
                    <a href="http://<?=$v['goto_url'];?>" target='_blank'><?=$v['goto_url'];?></a>
                </td>
            </tr>
            <?php endforeach;?>
        </tbody>
    </table>
    <?php endif;?>
</div>

<form action="<?=$form_action_del;?>" method="post" id="del_account">
    <input type="hidden" name="id" id="account_id" />
</form>
